@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-center">@ViewData["Title"]</h1>

<p class="text-center">&copy; @DateTime.Now.Year | @AppSettings.Title</p>
@* 
C# code ends when white space is used. If needed, C# code can be written again by starting with "@":
<p class="text-center">&copy; @C# | @C#</p>.
DateTime.Now returns the date and time when it is executed, Year returns the year part.
*@
